name: Dotenv

on:
  push:
    paths:
      - '.env'
      - '.gitignore'
      - '.github/workflows/dotenv_checker.yml'
    branches:
      - '*'
    

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      name: Checkout del repositorio 

    - name: Comprobar que el dotenv est치 a침adido al gitignore
      id: checker
      run: sh ./.github/workflows/gitignore_checker.sh

    - name: Chek dotenv in .gitignore 
      if: steps.checker.outputs.run != 'TRUE'
      uses: actions/github-script@v3
      with:
        script: |
          core.setFailed('El fichero dotenv no est치 a침adido en el .gitignore :warning:')